nav {
    background-color: rgb(37, 40, 216);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(37, 40, 216;)
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

main {
    width: 900px;
    margin: 0 auto;
}

aside {
    width: 900px;
    margin: 0 auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 10px;
    background-color: rgb(37, 40, 216);
    color: white;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 1px solid rgb(0 0 0/ 0.2);
    text-align: center;
}